<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
    <div>
        <ul class="nav navbar-nav">
            <% for (var i in theme.menu) { %>
                <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __('index.' + i) %></a>
            <% } %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= __('index.more') %> 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <% for (var j in theme.menumore) {%>
                        <li><a href="<%- url_for(theme.menumore[j]) %>"><%= __('index.menumore.' + j) %></a></li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </div>
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
      </nav>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
</header>
